@media screen and (min-width: 840px){

    .carousel-inner{
        width: 80%;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}
    nav {
       flex-direction: row;
       justify-content: space-evenly;
       width: 100%;
       height: 20%;
       -webkit-transform: translate(0, 0);
       transform: translate(0, 0);
       background-color: transparent;
       font-size: 1.1rem;
       padding-top: 10px;
      }
      #drawer a{
        color: #263232;
      }
      #menu{
          visibility: hidden;
      }
      body{
        font-size: 1.3em;
    }
    .wid-50{
        width: 50%;
        }
    .wid-70{
    width: 70%;
    }
    #skills hr{
       visibility: hidden;
    }
    .skills{
        flex-direction: row;
      }
}